body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    margin: 0;
}
h2{
    margin-bottom: 1rem;
    text-align: center;
}



.main-container {
    display: flex;
}

.graphs{
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, 500px) ;
    gap: 5rem ;
}

.button {
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.btn-container {
    margin-top: 20px;
    margin-left: 20px
}