body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

h2{
    margin-bottom: 1rem;
    text-align: center;
}

.botonVolver{
    display: flex;
    justify-content: center;
}

.content{
    /*height: 50%;*/
    width: 73%;
    margin: 0 auto;
    
    
}

canvas{
width: 350px;
height: 350px;
}