ul {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    }

.main-container {
    display: flex;
    height: calc(100vh - 48px);
}

.main {
    padding: 1rem;
}

.tabla-usuarios{
    padding: 6rem;
}