ul {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    position: relative;
    min-height: 100vh;
    }

.main-container {
    display: flex;
    height: 85vh;
}

.main {
    padding: 1rem;
}
