* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: rgb(53, 53, 53);
}

.nuevo-producto {
    padding: 20px;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(74, 131, 255);
    margin-top: 10px;
    margin-left: 10px
}
.table-products {
    align-items: center;
    border: 3px solid black;
    padding: 30px;
    table-layout: fixed;
    margin: auto;
    background-color: rgb(250, 245, 245);
    width: 75%;
    overflow: hidden;
}

tr:nth-child(even){
    background-color: rgb(210, 209, 209)
}


th {
    padding: 5px;
}

td {
    text-align: center;
    padding: 0;
    overflow: hidden;
}

.del-btn {
    color: rgb(254, 41, 41);
    background-color: rgb(250, 245, 245);
    &:hover{
        cursor: pointer;
    }
}

.product-id:hover {
    cursor: pointer;
}

#crudM{
    background-color: rgb(255, 217, 135);
    padding: 6px;
    font-weight: bold;
}

#crudBorrar{
    background-color: rgb(242, 91, 91);
    padding: 6px;
    font-weight: bold;
}
