body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 236, 236);
    color: rgb(0, 0, 0);
}

ul,li{
    list-style: none;

}

ul {
    display: flex;
    gap: 15px;
    padding: 5px;
}