* {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
    padding: 0;
}

.products {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px,auto);

}

.product-card {
    margin-left: 2rem;
    box-shadow: -1px 18px 25px -27px rgba(0,0,0,0.75);
    border-radius: 5px;
    width: fit-content;
    &:hover {
        cursor: pointer;
        scale: 1.05;
    }
    .img-placeholder {
        width: 250px;
        background-color: azure;
        height: 175px;
    };
    

}