body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6190E8;
    
}

h2{
    margin-bottom: 1rem;
    text-align: center;
}

.botonVolver{
    display: flex;
    justify-content: center;
}

.content{
    /*height: 50%;*/
    width: 73%;
    margin: 0 auto;
    
    
}

canvas{
    max-width: 100%;
}